[Desktop Entry]
Name=Text Search
Comment=Text Search Application
Exec=text-search-electron
Icon=icon
Terminal=false
Type=Application
Categories=Utility;
StartupWMClass=text-search-electron